In [25]:
import math
import pandas as pd

In [13]:
def calculate_chances(multiplier_A, multiplier_Draw, multiplier_B):
    total_probability = multiplier_A + multiplier_B + multiplier_Draw

    percentage_A = (1 / multiplier_A) / (1 / multiplier_A + 1 / multiplier_B + 1 / multiplier_Draw)
    percentage_B = (1 / multiplier_B) / (1 / multiplier_A + 1 / multiplier_B + 1 / multiplier_Draw)
    percentage_Draw = (1 / multiplier_Draw) / (1 / multiplier_A + 1 / multiplier_B + 1 / multiplier_Draw)

    return {
        "Team A": {"multiplier": multiplier_A, "Win Chance": percentage_A},
        "Draw": {"multiplier": multiplier_Draw, "Win Chance": percentage_Draw},
        "Team B": {"multiplier": multiplier_B, "Win Chance": percentage_B}
    }

multiplier_A = 1.29
multiplier_Draw = 10.50
multiplier_B = 5.75

chances = calculate_chances(multiplier_A, multiplier_Draw, multiplier_B)
print(chances)

{'Team A': {'multiplier': 1.29, 'Win Chance': 0.7422775472568003}, 'Draw': {'multiplier': 10.5, 'Win Chance': 0.09119409866297833}, 'Team B': {'multiplier': 5.75, 'Win Chance': 0.1665283540802213}}

In [15]:
def find_highest_two(chances):
    sorted_chances = sorted(chances.items(), key=lambda x: x[1]["Win Chance"], reverse=True)
    highest_two = sorted_chances[:2]
    return dict(highest_two)

def adjust_percentages(highest_two):
    total_percentage = sum(pair[1]["Win Chance"] for pair in highest_two.items())
    adjusted_percentages = {key: {"multiplier": value["multiplier"], "Win Chance": value["Win Chance"] / total_percentage * 100} for key, value in highest_two.items()}
    return adjusted_percentages

highest_two = find_highest_two(chances)
print("Highest two chances:", highest_two)

adjusted_percentages = adjust_percentages(highest_two)
print("Adjusted percentages for betting:", adjusted_percentages)

Highest two chances: {'Team A': {'multiplier': 1.29, 'Win Chance': 0.7422775472568003}, 'Team B': {'multiplier': 5.75, 'Win Chance': 0.1665283540802213}}
Adjusted percentages for betting: {'Team A': {'multiplier': 1.29, 'Win Chance': 81.67613636363636}, 'Team B': {'multiplier': 5.75, 'Win Chance': 18.323863636363637}}

In [17]:
adjusted_percentages

Team A Team B

In [18]:
def calculate_bet_amounts(highest_two, bet_price):
    total_percentage = sum(info["Win Chance"] for info in highest_two.values())
    bet_amounts = {team: (info["Win Chance"] / total_percentage) * bet_price for team, info in highest_two.items()}
    return bet_amounts

def calculate_gains(highest_two, total_bet_amount):
    gains = {team: total_bet_amount * info["multiplier"] for team, info in highest_two.items()}
    return gains

def find_highest_two(chances):
    sorted_chances = sorted(chances.items(), key=lambda x: x[1]["Win Chance"], reverse=True)
    highest_two = dict(sorted_chances[:2])
    return highest_two

In [19]:
bet_price = 50

highest_two = find_highest_two(adjusted_percentages)
print("Highest two chances:", highest_two)

bet_amounts = calculate_bet_amounts(highest_two, bet_price)
print("Bet Amounts:", bet_amounts)

total_bet_amount = sum(bet_amounts.values())
print("Total Bet:", total_bet_amount)

gains = calculate_gains(highest_two, total_bet_amount)
print("Potential Gains:", gains)

Highest two chances: {'Team A': {'multiplier': 1.29, 'Win Chance': 81.67613636363636}, 'Team B': {'multiplier': 5.75, 'Win Chance': 18.323863636363637}}
Bet Amounts: {'Team A': 40.83806818181818, 'Team B': 9.161931818181818}
Total Bet: 50.0
Potential Gains: {'Team A': 64.5, 'Team B': 287.5}

In [28]:
def calculate_bet_stats(multiplier_A, multiplier_Draw, multiplier_B, bet_price, name_A="Team A", name_B="Team B"):
    total_probability = multiplier_A + multiplier_B + multiplier_Draw

    # Calculate win chances
    win_chance_A = (1 / multiplier_A) / total_probability
    win_chance_Draw = (1 / multiplier_Draw) / total_probability
    win_chance_B = (1 / multiplier_B) / total_probability

    # Calculate adjusted percentages
    adjusted_percentages = {
        name_A: {"multiplier": multiplier_A, "Win Chance": win_chance_A * 100},
        "Draw": {"multiplier": multiplier_Draw, "Win Chance": win_chance_Draw * 100},
        name_B: {"multiplier": multiplier_B, "Win Chance": win_chance_B * 100}
    }

    # Find the highest two chances
    sorted_chances = sorted(adjusted_percentages.items(), key=lambda x: x[1]["Win Chance"], reverse=True)
    highest_two = dict(sorted_chances[:2])

    # Calculate bet amounts
    total_percentage = sum(info["Win Chance"] for info in highest_two.values())
    bet_amounts = {team: math.ceil((info["Win Chance"] / total_percentage) * bet_price) for team, info in highest_two.items()}

    # Calculate potential gains
    total_bet_amount = sum(bet_amounts.values())
    gains = {team: total_bet_amount * info["multiplier"] for team, info in highest_two.items()}

    # Calculate net win after deducting total bet amount
    net_wins = {team: gain - total_bet_amount for team, gain in gains.items()}

    # Create DataFrame
    df = pd.DataFrame.from_dict(adjusted_percentages, orient='index')
    df['Bet Amount'] = df.index.map(bet_amounts)
    df['Potential Gain'] = df.index.map(gains)
    df['Net Win'] = df['Potential Gain'] - total_bet_amount

    return df

In [29]:
# Test the function
team_A_name = "Duitsland"
multiplier_A = 1.29

multiplier_Draw = 5.75

team_B_name = "Schotland"
multiplier_B = 10.5

bet_price = 50
bet_stats_df = calculate_bet_stats(multiplier_A, multiplier_Draw, multiplier_B, bet_price, team_A_name, team_B_name)
bet_stats_df

                   multiplier  Win Chance  Bet Amount  Potential Gain  Net Win
Manchester United        1.29    4.419577        41.0           65.79    14.79
Draw                    10.50    0.542977         NaN             NaN      NaN
Liverpool                5.75    0.991522        10.0          293.25   242.25

In [30]:
# Test the function
team_A_name = "Hongarije"
multiplier_A = 3.4

multiplier_Draw = 3.4

team_B_name = "Zwitserland"
multiplier_B = 2.26

bet_price = 50
bet_stats_df = calculate_bet_stats(multiplier_A, multiplier_Draw, multiplier_B, bet_price, team_A_name, team_B_name)
bet_stats_df

             multiplier  Win Chance  Bet Amount  Potential Gain  Net Win
Hongarije          3.40    3.246332        20.0          173.40   122.40
Draw               3.40    3.246332         NaN             NaN      NaN
Zwitserland        2.26    4.883862        31.0          115.26    64.26

In [31]:
# Test the function
team_A_name = "Spanje"
multiplier_A = 2.02

multiplier_Draw = 3.35

team_B_name = "Croatie"
multiplier_B = 4.25

bet_price = 50
bet_stats_df = calculate_bet_stats(multiplier_A, multiplier_Draw, multiplier_B, bet_price, team_A_name, team_B_name)
bet_stats_df

         multiplier  Win Chance  Bet Amount  Potential Gain  Net Win
Spanje         2.02    5.146045        32.0          103.02    52.02
Draw           3.35    3.102988        19.0          170.85   119.85
Croatie        4.25    2.445885         NaN             NaN      NaN

In [32]:
# Test the function
team_A_name = "Italie"
multiplier_A = 1.4

multiplier_Draw = 4.5

team_B_name = "Albanie"
multiplier_B = 8.75

bet_price = 50
bet_stats_df = calculate_bet_stats(multiplier_A, multiplier_Draw, multiplier_B, bet_price, team_A_name, team_B_name)
bet_stats_df

         multiplier  Win Chance  Bet Amount  Potential Gain  Net Win
Italie         1.40    4.875670        39.0            71.4     20.4
Draw           4.50    1.516875        12.0           229.5    178.5
Albanie        8.75    0.780107         NaN             NaN      NaN